
<menu>
    <Services>
        <AppBlocker VisibleName="App Blocker" cssClass="fa fa-ban">
            <Settings VisibleName="Settings" url="/ui/appblocker/index/index"/>
            <Whitelist VisibleName="Strict Whitelist" url="/ui/appblocker/index/whitelist"/>
        </AppBlocker>
    </Services>
</menu>
